.tags-area {
  display: flex;
  gap: 22px;
}

.tag-button {
  padding: 2px 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f2f2f2;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.2s, border-color 0.2s;
}

.tag-button input {
  display: none;
}

.tag-button:has(input:checked) {
  background-color: #621eff;
  color: white;
  border-color: #621eff;
}

.tag-button:hover {
  background-color: #e6e6e6;
}
